*{
    margin: 0;
    padding: 0;
}

.container-main {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 208, 255);
    justify-content: center;
    align-content: center;
}

.container-div{
    display: flex;
    width: 60vw;
    height: 80vh;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgb(164, 238, 239);
    border-radius: 10px;
}