{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo | {% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
</head>
<body>
<div class="container-main">
<a type="button" style="margin-bottom:20px;" class="btn btn-secondary" href="{% url 'registro'  %}">Registrar</a>
    {% block content %}{% endblock  %}
<a type="button" style="margin-top:20px;" class="btn btn-info" href="{% url 'index'  %}">Visualizar</a>
</div>

<script>
    function borrar(id){
        swal({
            title : 'Esta seguro que desea borrar ?',
            text : 'Si lo borras no podras recuperarlo',
            icon : 'warning',
            buttons : true ,
            dangerMode : true ,
        })
        .then ((willDelete)=>{
            if (willDelete){
                location.href = "/eliminar/"+id
            }
            else{
                swal ('No se borro el registro')
            }
        });
    }
</script>

</body>
</html>